body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}

/* Default */
body.default {
    background: linear-gradient(to right, #74ebd5, #9face6);
}

/* Weather backgrounds */
body.clear {
    background: linear-gradient(to right, #fceabb, #f8b500);
}

body.clouds {
    background: linear-gradient(to right, #d7d2cc, #304352);
}

body.rain {
    background: linear-gradient(to right, #4b79a1, #283e51);
}

/* Glass box */
#weatherBox {
    margin: 40px auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

/* Input + button */
input, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 5px;
}

button {
    background: black;
    color: white;
    cursor: pointer;
}

/* Icon */
#icon {
    width: 100px;
}

/* Mobile */
@media (max-width: 600px) {
    #weatherBox {
        width: 90%;
    }
}
